<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/extern/moment.js|resources/js/site.js|resources/css/style.css" }}
    </head>
    <body>
    <main>
        </div>
        <div class="intro">
            {{ asset url="/assets/cover.jpeg" }}
                <img src="{{ url }}" alt="{{ alt }}" class="cover-img">
            {{ /asset }}

            <h1>Fear Fades, Regret Remains</h1>

            <div class="cd">
                <div class="cd__unit-group">
                    <div class="cd__unit">
                        <div class="cd__digits">
                            <div class="cd__digit" data-col>
                                <div data-pos="next">-</div>
                                <div data-pos="prev">-</div>
                            </div>
                            <div class="cd__digit" data-col>
                                <div data-pos="next">-</div>
                                <div data-pos="prev">-</div>
                            </div>
                        </div>
                        <div class="cd__unit-label">Day(s)</div>
                    </div>
                </div>
                <div class="cd__unit-group">
                    <div class="cd__unit">
                        <div class="cd__digits">
                            <div class="cd__digit" data-col>
                                <div data-pos="next">-</div>
                                <div data-pos="prev">-</div>
                            </div>
                            <div class="cd__digit" data-col>
                                <div data-pos="next">-</div>
                                <div data-pos="prev">-</div>
                            </div>
                        </div>
                        <div class="cd__unit-label">Hour(s)</div>
                    </div>
                    <div class="cd__unit">
                        <div class="cd__digits">
                            <div class="cd__digit" data-col>
                                <div data-pos="next">-</div>
                                <div data-pos="prev">-</div>
                            </div>
                            <div class="cd__digit" data-col>
                                <div data-pos="next">-</div>
                                <div data-pos="prev">-</div>
                            </div>
                        </div>
                        <div class="cd__unit-label">Minute(s)</div>
                    </div>
                </div>
            </div>

            <button class="animated">Presave now!</button>
        </div>
        <div id="info" class="content">
            <div class="content__wrap">
               <div class="row">
                   <div class="item">
                       <h2>Single 1</h2>
                       {{ asset url="/assets/cover.jpeg" }}
                            <img src="{{ url }}" alt="{{ alt }}" class="single-img">
                       {{ /asset }}
                       <div class="item-date">
                           01.01.2025
                           <button class="btn-small">Presave</button>
                       </div>
                   </div>
                   <div class="item">
                       <h2>Single 2</h2>
                       {{ asset url="/assets/cover.jpeg" }}
                       <img src="{{ url }}" alt="{{ alt }}" class="single-img">
                       {{ /asset }}
                       <div class="item-date">
                           01.01.2025
                           <button class="btn-small">Presave</button>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </main>
    <footer>
        {{ asset url="/assets/logo.webp" }}
            <a href="https://rwshardcore.de" target="_blank"><img src="{{ url }}" alt="{{ alt }}" class="logo"></a>
        {{ /asset }}
        <a href="https://rwshardcore.de/imprint" target="_blank">Imprint</a>
    </footer>
    </body>
</html>
